@import url("bootstrap.css");

.jumbotron{
    background-color: transparent !important;
    text-align: center;
    color: rgb(224, 224, 224);
}
body{
    background: url("images/background.jpg") 50% 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}
.html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.disk{
    border: 1px solid rgba(255,255,255,0.3);
    position: absolute;
    border-radius: 5px;
    padding: 3em;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
h2{
 font-family: 'Roboto', sans-serif;
 font-weight: lighter;
 color: rgb(224, 224, 224);
 font-size: 50px;
 margin-top: 0px;
 text-align: center;
} 
input{
    display: block;
    width: 320px;
    height: 50px;
    color: #fff;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.5);
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: lighter;
    border-radius: 5px;
}
.result{
    position: absolute;
    top: 83%;
    left: 38%;
    background: none;
}
.result input{
    background-color: rgb(233, 233, 233);
    
}
button{
    cursor: pointer;
    width: 319px;
    font-size: 16px;
    height: 50px;
    border: 0px;
    font-weight: lighter;
    background: rgb(48, 47, 47);
    color: rgb(255, 255, 255);
    border-radius: 5px;
}
button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(218, 0, 0);
    transition: 1s;
}

@media screen and (max-width: 768px){
    .disk{
        border-radius: 5px;
        padding-left: 0.5em;
        padding-right: 0.5em;
        top: 55%;
    }
    button{
        background: red;
    }
    button:hover{
        color: rgb(255, 255, 255);
        background-color: rgb(48, 47, 47);
        transition: 1s;
    }
    h2{
        font-size: 40px;
    }
}